.button {

position: absolute;
top: 25px;
left: 800px;



}

.btn{
border-radius: 25px 25px 25px 25px;
padding: 5px 25px;

}



.btn:hover{
	background: blue;
}


body{

	background:#CFD3D4;

}


.container{

	position: absolute;

	top: 100px;
left: 110px;

}

.carousel-item img{
height: 450px;

}


img{


width: 100%;


}




